.btnInput {
    padding: 11px 10px;
    margin-bottom: 15px;
    background: #ecfff4;
    cursor: pointer;
}

.btnLogin {
    padding: 10px;
    background: #657e68;
    color: white;
    cursor: pointer;
    width: 186px;
    max-height: 40px;
}

.register {
    gap: 0.7rem;
    max-width: 400px;
    grid-template-rows: auto 1fr auto;
    display: grid;
    justify-items: center;
    margin: auto;
    background: rgb(189 209 196 / 96%);
    padding: 50px 70px;
    box-shadow: 7px 13px 37px #000;
    color: white;
    font-size: 30px;
    max-height: 450px;
    min-width: 400px;
}
.registerLink {
    color: white;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}

.containerForm {
    min-height: 73vh;
}
