.containerProduct {
    min-height: 73vh;
}
.containerAdd {
    gap: 0.7rem;
    max-width: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    background: rgb(189 209 196 / 96%);
    padding: 50px 60px;
    box-shadow: 7px 13px 37px #000;
    color: white;
    font-size: 20px;
}
.btnAddForm {
    padding-bottom: 5px;
    margin-bottom: 15px;
    background: #ecfff4;
    cursor: pointer;
}
.btnAddSend {
    padding-bottom: 5px;
    background: #657e68;
    color: white;
    cursor: pointer;
    width: 86px;
}
.btnAddSend:hover {
    padding-bottom: 5px;
    background: #9ba79c;
    color: white;
    cursor: pointer;
    width: 86px;
}
.productList {
    display: flex;
    justify-content: center;
    margin: 2rem ;
}
