.main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containerProduct {
    display: flex;
    flex-direction: column;
    background-color: #FFE1CB;
    min-height: 200px;
    font-size: 2.3rem;
}
.productTittle {
    display: flex;
    justify-content: center;
    margin: 1rem
}
.productList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 150px;
}
.productImage {
    display: flex;
    min-width: 80%;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    gap: 0.7rem
}
.pideCita {
    max-height: 2rem;  
    padding: 0.3rem 3rem;
    cursor: pointer;
    background-color: rgb(60 133 88 / 30%);
}
.pideCita:hover {
    background: transparent;
}
.photoLogo {
    background-image: url("../../../../public/assets/logo-y-marca-new.jpg");
    min-height: 550px;
    max-height: 550px;
    background-size: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 3rem;
    padding-bottom: 3rem;
    background-attachment: fixed;
}
.productLi {
    box-shadow: 7px 13px 37px #000;
    border-radius: 40px;
}
.photoCejas {
    background-image: url('../../../../public/assets/ceja.jpg');
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}
@media(max-width:380px) {
.photoLogo {
    min-height: 350px;
    max-height: 350px;
    background-attachment: initial;
}
.photoCejas {
    min-height: 300px;
    max-height: 300px;
    background-size: 120%;
    background-attachment: initial;
}
.containerProduct{
    max-height: 400px;
}
.productTittle{
    font-size: 1.5rem;
}
.productImage{
    display: flex;
    max-width: 300px;
    gap: 0.7rem;
    margin-right: auto;

}

}
