@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    left: 0;
}

h2 {
    margin-right: 8rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.button {
    background: none;
    border: none;
    color: #444444;
    font-size: 1.1rem;
    font-weight: 600;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    z-index: 1;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    width: 100%;
    margin-top: 10px;
}
