.container-menu {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100vh;
    z-index: 1;
    color: white;
    background-color: #000000e3;
    transition: all .4s ease-in-out;
}
.open {
    width: 200px;
}

.close {
    width: 0;
    overflow: hidden;
}
.menu-ul {
    display: flex;
    flex-direction: column;
    margin-top: 67px;
    border-top: 1px solid #fff;
    width: 100%;
    padding-left: 0;
    overflow: hidden;
}
.menu-ul :first-child {
    margin-top: 60px;
}
.menu-ul
.menu-li {
    position: relative;
    list-style: none;
    cursor: pointer;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}
.menu-li:hover {
    background-color: #000000;
    font-size: 18px;
}
.menu-li :only-child {
    margin-top: 0;
}
.menu-li.active::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 10px;
    box-shadow: 5px 5px 15px 12px rgba(232, 207, 20, 0.7);
}
.menu-li p{
    overflow: hidden;
    height: 24px;
}
